{% extends "account/base.html" %}
{% load static i18n socialaccount %}

{% block title %}Sign Up - Chalkstone Council{% endblock %}

{% block content %}
<div class="login-outer">
    <div class="login-container">
      <!-- Left Illustration Section -->
  
      <!-- Right Form Section -->
      <div class="login-form">
        <h2>Create An Account</h2>
        <form action="{% url 'account_signup' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
  
          <!-- Regular Login Button -->
          <button type="submit" class="login-button">Sign Up</button>
  
          <!-- Google Login Button -->
          <a href="{% provider_login_url 'google' %}" class="google-button">
            Sign in with Google
          </a>
        </form>
  
   
        <div class="create-account">
          <p>Login <a href="{% url 'account_login' %}"> Here</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}