{% extends "analytics/base.html" %}

{% block title %}Closed Issues - Chalkstone Council{% endblock %}

{% block content %}
  <h2>Closed Issues Analysis</h2>

  <h3>Closed Issues and Time Taken</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Time to Close</th>
        <th>Time to In Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for data in closed_issues_data %}
        <tr>
          <td>{{ data.issue.title }}</td>
          <td>{{ data.time_to_close }}</td>
          <td>{{ data.time_to_in_progress }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No closed issues available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
